#wrapper {
	width:100%;
	max-width:600px;
	margin:0 auto;
	text-align:left;
}
#chart {
	width:90%;
}
#chart {
	margin:20px 0 20px 0;
}
#chart div,#chart div span {
	height:20px;	
}
#chart div .percent {
	width:50px;
	position: absolute;
	top:0;
	right:-40px;
	text-align:right;
}
#chart div .title {
	width:30px;
	position: absolute;
	top:0;
	left:0px;
	text-align:right;
}
#chart div {
	position: absolute;
	display:block;
	height:20px;
	width:80%;
	margin:0 0 5px 5px;
	text-align:left;
	max-width:600px;
}
#chart div .bar {
	position: absolute;
	width:0;
	top:0;
	left:0px;
}
.red .bar {
	background:red;
	opacity: .4; 
	filter:Alpha(Opacity=40);
}
.blue .bar {
	background:blue;
}
.yellow .bar {
	background:yellow;
}
.orange .bar {
	background:orange;
}
.purple .bar {
	background:purple;
}
.field {
	padding:3px;
	width:50px;
	border:solid 1px #000;
	float:left;
	margin-right:5px;
	color:#333;
}